//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - Test.rc - versie 2010 v2_07
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
//IDB_MUSHROOM		IMAGE	"./resources/mushroom.tif"